* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica", "Arial", sans-serif;
  color: #414141;
  background-color: #eeeeee;
}

/* header section */
.header-container {
  background-color: #cdf1c3;
  display: flex;
  justify-content: center;
}

.header {
  width: 900px;
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
}

h1,
h2 {
  font-weight: normal;
}
h1 {
  text-transform: uppercase;
}

@media (max-width: 500px) {
  .header {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
}

hr {
  height: 1px;
  border: 0;
  border-top: 3px solid #7d97ad;
}

/* about section */
.about-container {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.about {
  width: 900px;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-title {
  flex: 1;
}

.about-text {
  flex: 5;
}

.about-title h1 {
  color: teal;
}

.about-text p {
  text-align: justify;
}

/* thesis section */
.thesis-container {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.thesis {
  width: 900px;
  display: flex;
  justify-content: space-between;
}

.thesis-img img {
  width: 100%;
}

.main {
  display: flex;
}

/* work section */
.work-container {
  margin: 20px;
  display: flex;
  justify-content: center;
}

.work {
  width: 900px;
  height: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.work-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.work-item-img {
  max-width: 250px;
}

/* footer section */

.footer-container {
  display: flex;
  justify-content: center;
  background-color: #7d97ad;
}

.footer {
  width: 900px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.footer-item {
  display: flex;
  justify-content: center;
}

.footer-link-item {
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
  color: #414141;
  font-weight: bold;
}

a:hover {
  color: orangered;
}

/* mobile devices */
@media only screen and (max-width: 400px) {
  body {
    background-color: #f09a9d; /* Red */
  }
}

/* tablet devices */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  body {
    background-color: #f5cf8e; /* Yellow */
  }
}

/* desktop devices */
@media only screen and (min-width: 961px) {
  body {
    background-color: #b2d6ff; /* Blue */
  }
}
